<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Coopemep.IBAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Coopemep.IBAN.Properties.Settings>
            <setting name="Coopemep_IBAN_TFOExterno_TransferenciaTercerosClient"
                serializeAs="String">
                <value>http://sinpe-1/PEL.WS.Externo.SINPE.IBAN/IPELTFOExterno.asmx</value>
            </setting>
        </Coopemep.IBAN.Properties.Settings>
    </applicationSettings>
</configuration>